__pycache__/
*.py[cod]
*.so
.env
.env.*
.git
.gitignore
pytest_cache/
.mypy_cache/
*.sqlite3
alembic/versions/__pycache__/
.vscode/
.idea/
*.log
htmlcov/
.cache/
node_modules/
venv/
.eggs/
build/
dist/
.DS_Store
